!pip install -q openai-whisper
#!pip install -q google-genai
!apt-get -qq install ffmpeg
#########################################################
https://www.rmofspringfield.ca/p/meeting-audio-files
########################################################
from google.colab import files

uploaded = files.upload()

audio_file = list(uploaded.keys())[0]

print(audio_file)
##############################################
import whisper

model = whisper.load_model("base")

result = model.transcribe(audio_file)

transcript = result["text"]

print(transcript)
########################################################
prompt = f"""

You are an expert meeting assistant.

Generate professional meeting minutes.

Transcript:

{transcript}

Include:

1. Meeting Summary
2. Key Discussion Points
3. Decisions Taken
4. Next Meeting

Present everything in Markdown.

"""